@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --font-families: Arimo, sans-serif, Arial, Helvetica;
  --bold-text: 700;
  --regular-text: 400;

  color-scheme: light dark;

  /* light-scheme-variables */
  --bg-color-light-scheme: rgba(255, 255, 255, 1);

  /* dark-scheme-variables */
  --bg-color-dark-scheme: #242424;
  color: red;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  /* min-width: 320px; */
  min-height: 100vh;

  background-color: var(--bg-color-light-scheme);

  font-weight: var(--bold-text);
  font-family: var(--font-families);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;

  /* background-color: grey;
  color: magenta; */
}

a {
  text-decoration: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 1280px) {
  main:has(> section):has(> aside) {
    display: flex;
    width: 1280px;
    margin: 0 auto;
  }
}

/* 
@media (min-width: 1280px) {
  width: 1280px;
  position: relative;
  padding-bottom: 190px;
  padding-top: calc(90px + 85px);

  background-repeat: no-repeat;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    todo: => aici trebuie gandita ca la mine e browser -ul defaul pe dark
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
